.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(227, 24, 24);
  /* color: white; */
  align-items: center;
  margin-bottom: 20px;
  font-weight: bold;
}
.list {
  display: flex;
  gap: 20px;
  list-style-type: none;
  li {
    a {
      color: white;
      text-decoration: none;
    }
  }
}

.link {
  color: white;
  text-decoration: none;
}

.button {
  background-color: rgb(227, 24, 24);
  color: aliceblue;
  padding: 5px;
  border: 2px solid black;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 4px rgb(221, 214, 214, 0.3);
}
